.game-status-bg{
    font-weight: bold;
    color:black;
    background-color: rgb(255, 208, 0);
    font-size:1rem;
    padding: 0px 10px;
    margin:2px;
}
.winner-text{
    color:green;
}
.game-status-bg p{
    margin: 5px 0px
}