.game-bg{
    width: 500px;
    background-color:bisque;
    display: flex;
    flex-direction: column;
    height: 500px;
    border:2px solid orange;
    justify-content: space-between;
    align-items: center;
}
.app-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.timer-clocks .timer-container{
    margin-bottom: 10px;
}